body {
    height: auto;
    margin: 0;
    font-family: 'Arial';
}

@media only screen and (min-width: 1200px) {
    .banner {
        height: 500px;
        width: 100%;
        background-image: url('../img/pandaBanner.jpg');
        background-size: cover;
        background-position: center;
    }
}

@media only screen and (min-width: 1440px) {
    .banner {
        height: 800px;
        width: 100%;
        background-image: url('../img/pandaBanner.jpg');
        background-size: cover;
        background-position: center;
    }
}


/***Navbar***/
.navbar {
    text-align: center;
    height: 50px;
}

.navbar a {
    color: white;
    font-size: 40px;
    padding: 0 30px 0 0;
    text-decoration: none;
}

.navbar a:hover {text-decoration: underline}
/***Navbar***/

/***Dropdown***/
.dropdownButton {
    background-color: transparent;
    border: none;
    font-size: 40px;
    padding: 0 30px 0 0;
    cursor: pointer;
    color: white;
}

.dropdownButton:hover {
    text-decoration: underline
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdownContent {
    background-color: black;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownContent a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdownContent a:hover {text-decoration: underline}
  
.dropdown:hover .dropdownContent {
    display: block;
}
/***Dropdown***/

.infoBanner {
    font-size: 20px;
    color: darkolivegreen;
    text-align: center;
}

.info {
    display: flex;
    margin: auto;
    width: 500px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    overflow-wrap: break-word;
    background-color: darkolivegreen;
    height: 300px;
    padding: 50px 20px 0 20px;
}

footer {
    margin-top: 40px;
    background-color: darkolivegreen;
    height: 100px;
    text-align: center;
}